* img {
  width: 150px;
  height: 150px;
}

.hero {
  padding-bottom: 30px;
  padding-left: 40px;
  margin-top: 25px;
  text-align: center;
  display: inline-block;
}

.hero-lineup {
  margin-top: 30px;
  font-family: "Arial Black", sans-serif;
}

button {
  color: black;
  background-size: 30px;
  background-color: dodgerblue;
  font-size: x-large;
  border-radius: 30px;
  display: block;
  margin-top: 20px;
  padding: 10px;
}

h1 {
  border-bottom: 4px solid black;
  color: white;
  background-color: dodgerblue;
  padding: 15px;
  margin-bottom: 15px;
}

/*.hulk {
  display: inline-block;
  margin-right: 350px;
}

.batman {
  display: inline-block;
}

.spiderman {
  display: inline-block;
  margin-right: 300px;
}

.ironman {
  display: inline-block;
}*/