<div class="hero-lineup">
  <h1>This is my {{ list }} 💪</h1>
</div>


<div class="hulk hero">
  <h2>Hulk</h2>
  <img src="../assets/hulk.png"/>
  <button>you wont like me when im angry </button>
</div>

<div class="batman hero">
  <h2>Batman</h2>
  <img src="../assets/batman.png"/>
  <button>Alfred, warm up the batmobile</button>
</div>

<div class="spiderman hero">
  <h2>Spiderman</h2>
  <img src="../assets/spider-man.png"/>
  <button>I'm going to the library Aunt May</button>
</div>

<div class="ironman hero">
  <h2>Ironman</h2>
  <img src="../assets/Ironman.png"/>
  <button>Jarvis, tell Pepper to make a starbucks run</button>
</div>

<div class="captan hero">
  <h2>Captain America</h2>
  <img src="../assets/captain-a.png"/>
  <button>I Understood that reference</button>
</div>

<div class="wolverine hero">
  <h2>Wolverine</h2>
  <img src="../assets/wolverine.png"/>
  <button>Toss me a beer bub</button>
</div>